{% extends "AppBundle::base.html.twig" %}
{% block title %} : Accueil Manager{% endblock %}
{% block body %}
<div class="containerCommandes">
    <hi>Commandes à traiter</h1>


         
  <table class="table table-striped">
    <thead>
      <tr>
        <th>N°</th>
        <th>Date de la commande</th>
        <th>Nom client</th>
        <th>Nb art.</th>
        <th>Prix €</th>
        <th>Poids de la commande</th>
        <th>Employé qui s'en occupe</th>
        <th>statut</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>




<hi>Liste des Employés et leurs performance du jour</h1>

{% endblock %}