
{% extends "AppBundle::base.html.twig" %}
{% block title %} : Accueil Manager{% endblock %}
{% block body %}


     




    <div class="containerCommandes">

        <h1>Commande Client</h1>
        <div class="panel panel-default">
            <div class="panel-heading">Informations client</div>
            <div class="panel-body">
                <fieldset class="col-md-6">    	
                    <p>Client X</p>
                    <p>10 rue de paris 35000 Rennes</p>
                </fieldset>				
                <div class="clearfix"></div>
            </div>
        </div>



        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Désignation</th>
                    <th>Quantité commandée</th>
                    <th>Quantité enregistrée</th>
                </tr>
            </thead>
            <tbody>   
                {% for commandeligne in commande.commandelignes %}
                     <tr>
                <td>{{ commandeligne.article.quantite }}</td>
                 </tr>
                      <tr>
                <td>{{ commandeligne.quantite }}</td>
                 </tr>
        {% endfor %}

            </tbody>
        </table>
    </div>

    <button class="button">Imprimer bon de livraison</button>



{% endblock %}