
{% extends "AppBundle::base.html.twig" %}
{% block title %} : Accueil Manager{% endblock %}
{% block body %}







    <div class="containerCommandes">

        <h1>Commande Client</h1>
        <div class="panel panel-default">
            <div class="panel-heading">Informations client</div>
            <div class="panel-body">
                <fieldset class="col-md-6">   	
                    <span style="font-weight: bold">Nom :</span><span> {{ commande.client.nom }}</span>
                    <br>
                    <span style="font-weight: bold">Adresse :</span><span> {{ commande.client.adresse }}</span>
                    </tr>
                </fieldset>				
                <div class="clearfix"></div>
            </div>
        </div>



        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Désignation</th>
                    <th>Quantité commandée</th>
                    <th>Quantité enregistrée</th>
                </tr>
            </thead>
            <tbody>   
                {% for commandeligne in commande.commandelignes %}
                    <tr>
                        <td>{{ commandeligne.article.nom }}</td>


                        <td>{{ commandeligne.quantite }}</td>
                        <td><input id="user_lic" type="number" min="0"></td>
                    </tr>
                {% endfor %}



            </tbody>
        </table>
    </div>

    <button class="button">Imprimer bon de livraison</button>



{% endblock %}