{% extends "base.html.twig" %}
{% block body %}
    
    <table class="table">
        <tr>
            <th>Nom </th>
            <th>
                <a class="btn btn-default " href="{{ url('expeditor_employe_edit') }}"><span class="glyphicon glyphicon-plus"></span></a>
            </th>
        </tr>
    {% for employe in employes %}
        <tr >
            <td>{{ employe.nom }} </td>
            <td>
                <a class="btn btn-default " href="{{ url('expeditor_employe_edit', {'nom': employe.nom }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    {% endfor %}
    </ul>
    
    {% endblock %}