div.list-group  .row {
    background: #eee;
}

div.list-group  .row:nth-of-type(2n) {
    background: #ddd;
}
div#form .row {
    background: #ddd;
    margin-bottom:3px;
}
div#form label:after {
    content: " :";
}
div#form label {
    line-height: 17px;
    padding-right:0;
    padding-top:4px;
}
.form-control{
    height:24px;
    padding:1px 12px;
}
.btn-default{
    height:24px;
    padding:1px 12px;
}
div#form a{
    padding-left:0;
    padding-top:3px;
    text-align: left;    
}
div#form div.plus{
    padding-left:0;
    padding-top:3px;
    text-align: left;
    width:14px;
}