div.list-group  .row {
    background: #eee;
}

div.list-group  .row:nth-of-type(2n) {
    background: #ddd;
}
div#form .row {
    background: #ddd;
    margin-bottom:3px;
}
div#form label:after {
    content: " :";
}
div#form label {
    line-height: 17px;
    padding-right:0;
    padding-top:4px;
}
.form-control{
    height:24px;
    padding:1px 12px;
}
.btn-default{
    height:24px;
    padding:1px 12px;
}
div#form a{
    padding-left:0;
    padding-top:3px;
    text-align: left;    
}
div#form div.plus{
    padding-left:0;
    padding-top:3px;
    text-align: left;
    width:14px;
}

.ListeEmployes tbody{
    height:200px;
}

.table-fixed{
    width: 100%;
    background-color: #f3f3f3;
}
.table-fixed tbody{
        height:200px;
    overflow-y:auto;
    width: 100%;    
    
}
.table-fixed tbody thead,
.table-fixed tbody tbody,
.table-fixed tbody tr,
.table-fixed tbody td,
.table-fixed tbody th{
      display:block;
}
.table-fixed tbody td{
       float:left;
}
.table-fixed thead tr th{
        float:left;
       background-color: #f39c12;
       border-color:#e67e22;
}


tr.survolable:hover{
    background-color: #f7f6ff;
    cursor:pointer;
}
tr.survolable:hover td{
    text-decoration: underline;
}