<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if Employe is defined %}class="active" {% endif %}
                                              ><a href="{{ url('expeditor_employe') }}">Employe</a></li>  
                <li {% if Manager is defined %}class="active" {% endif %}
                                                 ><a href="{{ url('expeditor_manager') }}">Manager</a></li>
                <li {% if Articles is defined %}class="active" {% endif %}
                                              ><a href="{{ url('expeditor_manager_articles') }}">Articles</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>